<section id="about">

    <div class="about-text">
        <div>
            <h4>// about me</h4>
            <h2>I am</h2>
        </div>
        <p>Soy perseverante, versátil, ágil y me adapto a cualquier ambiente con facilidad gracias a mi actitud
            positiva. Me
            gusta compartir mis conocimientos y ayudar a los demás; una de mis mayores virtudes es el no rendirme con
            facilidad.</p>
    </div>

    <div>
        <img src="assets/images/foto.jpg" alt="">
    </div>

</section>