

// colors

$primary:#EBB228;
$primary-hover:#ecb637;
$primary-hover-low:#e0b44e18;

$secondary:#14110F;
$opacity:#868686;
$border:#404040;
$border-light:#a09e9e;
$error:#F20202;
$white-opacity:#EAE8E8;
$text-opacity:#868686;
$white:#FFFFFF;
$dark:#000000;

// values
$border-radius:10px;
$border-radius-mobile:8px;


// texts

$text-h1: 88px;
$text-h1-mobile: 48px;

$text-h2: 64px;
$text-h2-mobile: 48px;

$text-h3: 40px;
$text-h3-mobile: 24px;

// breakpoints medias
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;

