
@import '../../../stylings/abstracts/mixins';
@import '../../../stylings/abstracts/variables';

.home{
    // background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include width;
    @include padding;
    &__content{

        // gap: 1rem;
        h1{
            span{
                color: $primary;
                @include text-h1-light;
            }
            
        }

    
        &__buttons{
            display: flex;
            gap: 1rem;
        }
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            &__buttons{
                width: 100%;
            }
        }
       
    }
  

}