

<div class="home">
    <div class="home__content">
        
        <div>
            <h4>// {{ translate('Bienvenido') }}</h4>
            <h1 ><span>{{ translate('Soy') }}</span> SaPradilla</h1>
        </div>
        <!-- write change text -->
        <!-- <h3>Profesion</h3> -->
        <app-typewriter></app-typewriter>
        
        <div class="home__content__buttons">
            <button class="secondary"> {{ translate('Contacto') }} </button>
            <button class="primary"> CV </button>
        </div>

    </div>
</div>